<div class="container card" style="padding: 6em; margin-top: 3em;"> 
  <form #blogForm="ngForm" (ngSubmit)="newPost()">

    <h2 class="text-center text-primary">Create New Post</h2>
    <hr>

    <div class="mb-3">
      <label for="authorName" class="form-label">Author Name</label>
      <input type="text" class="form-control" id="autherName" name="author" required placeholder="Author Name" [(ngModel)]="blog.author">
    </div>

    <div class="mb-3">
      <label for="titleName" class="form-label">Title</label>
      <input type="text" id="titleName" class="form-control" required name="title" placeholder="Title" [(ngModel)]="blog.title">
    </div>

    <div class="mb-3 form-floating">
      <label for="floatingTextarea2">Description</label>
      <textarea class="form-control" placeholder="Leave a Description here" id="floatingTextarea2" style="height: 300px" 
      required name="description" [(ngModel)]="blog.description"></textarea>
    </div>

    <div class="mb-3">
      <label for="photoUrl" class="form-label">PhotoUrl</label>
      <input type="text" id="photoUrl" class="form-control" required name="photourl" [(ngModel)]="blog.photourl">
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="!blogForm.valid">Submit</button>
  </form>
</div>